<header class="header">
  <h1> Student Management </h1>
</header>

<main class="container">
  <div class="title-row">
    <h2> <b> List of Students </b> </h2>

    <!-- ROUTING CONNECTED HERE -->
    <button class="add-btn" routerLink="/create-student">
      <b> Add Student </b>
    </button>
  </div>

  <section class="student-list">
    <article
      class="student-card"
      *ngFor="let student of students(); index as i"
    >
      <div class="student-details">
        <strong>{{ student.name }}</strong>
        <p><strong>Age:</strong> {{ student.age ?? '—' }}</p>
        <p><strong>Year level:</strong> {{ student.yearLevel ?? '—' }}</p>
        <p><strong>Course:</strong> {{ student.course ?? '—' }}</p>
        <p><strong>Email:</strong> {{ student.email ?? '—' }}</p>
        <p><strong>GPA:</strong> {{ student.gpa ?? '—' }}</p>
        <p><strong>Status:</strong> {{ student.enrollment_status ?? '—' }}</p>
      </div>

      <!-- DELETE CONNECTED TO TS -->
      <button class="delete-btn" (click)="deleteStudent(student.id)">
        <b> delete </b>
      </button>
    </article>

    <!-- Show message if no students -->
    <p *ngIf="students().length === 0">No students found</p>
  </section>
</main>
